<% include ./partial/header.ejs %>
    <link rel="stylesheet" href="/stylesheets/addtocard.css">
    <a style="text-decoration: none; color:#fff;left: 94%; padding-right: 100px; padding-top: 40px; font-size: 20px; position: fixed; z-index: 999;" href="/product"><i class="fa-solid fa-xmark"></i></a>
    <div class="main" style="background-color: #111; color: #fff; padding-top: 300px;">
        <div class="card" style="display: flex; align-items: center; justify-content: space-between;padding-right: 650px;border-bottom: 1px solid gray; margin: 0px 20px;padding-bottom: 20px;">
            <h1 style="font-size: 11px;padding-left: 20px; color: gray;">CARD</h1>
            <h1 style="font-size: 11px; color: gray;">QUENTITY</h1>
        </div>
        <div  id="card2" style="display: flex; align-items: center; justify-content: space-between; padding: 50px 10px; border-bottom: 1px solid gray; margin: 0px 20px;" >
            <h1 style="font-size: 20px; font-weight: 500;">CHNAGE THE COUSER COOK KIT</h1>
            <div class="addcard" style="display: flex; gap: 25px; padding-left: 280px;">
                <%- include("shared.ejs") -%>
            </div>
            <div class="amt" style="display: flex; align-items: center; gap: 50px;">
                <h1 style="font-size: 20px; font-weight: 100;">$95</h1>
                <a style="text-decoration: none; color: #fff;" href="/card"><i class="fa-solid fa-xmark"></i></a>
            </div>
        </div>
        <div class="card3" style="display: flex; justify-content: space-between; align-items: start; padding: 20px 20px;">
            <h1 style="font-size: 15px; color: gray;">ADD A PERSONALISED CARD FOR THAT SOMEONE SPECIAL FOR JUST $5.</h1>
            <div class="delevery" style="padding-left: 260px;">
                <h1 style="color: gray; font-size: 15px;padding-bottom: 10px;">DELIVERY</h1>
                <h1 style="color: gray; font-size: 15px;">SUBTOTAL</h1>
            </div>
            <div class="amt2" style="display: flex; justify-content: end;flex-direction: column; align-items: end;">
                <h1 style="font-size: 15px; font-weight: 500;">SHIPPING CALCULATION AT CHECK-OUT.</h1>
                <h1 style="font-size: 15px; font-weight: 500;padding-top: 10px;">$95</h1>
            </div>

        </div>
        <div class="card4" style="float: right; margin-right: 20px; border: 1px solid #fff; padding: 20px 300px;border-radius: 30px; margin-top: 50px;">
            <h1 style="font-size: 20px; font-weight: 500;">CHECKOUT</h1>
        </div>
        <div class="card5" style="margin-top: 200px; font-size: 3vw;width: 70%;padding-left:20px ;">
            <h2 style="font-family: 900; color: #f2eaea;">THANK YOU FOR WALKING
                ALONGSIDE VULNERABLE
                WOMEN AS THEY FIND THEIR
                WAY HOME AGAIN.</h2>
        </div>
    </div>
    <% include ./partial/footer.ejs %>