<% include ./partial/header.ejs %>
<link rel="stylesheet" href="/stylesheets/donate.css">
    <div class="menu">
        <div class="contenercardx">
            <div class="cardx">
                <h3>CONNECT WITH US</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Instagram</li>
                    <li>Twitter</li>
                    <li>LinkedIn</li>
                    <li>YouTube</li>
                </ul>
            </div>
            <div class="cardy">

                <h3>NITTY GRITTIES</h3>
                <ul>
                    <li>Good Things FAQs</li>
                    <li>Good Food FAQs</li>
                    <li>Good Places</li>
                    <li>Pathways</li>
                    <li>Careers</li>
                </ul>
            </div>
            <div class="cardz">
                <h3>Get started</h3>
                <ul>
                    <li>Pathways</li>
                    <li>Careers</li>
                </ul>
            </div>
        </div>
        <div class="bar">
            <button>back to menu</button>
            <h5>THANK YOU FOR DONATING TO THE TWO GOOD FOUNDATION. YOU ARE HELPING TO CHANGE THE COURSE OF A WOMAN'S
                LIFE FOR GOOD.</h4>
            <div class="card">
                <h4>DONATING IN INDIAN RUPEES</h4>
                <div class="card1">
                    <h3><span class="s1">One-Time </span><span class="s2">Weekly </span><span class="s3">Monthly</span></h3>
                </div>
                <div class="card2">
                    <a href="#">&#x20B9;264</a>
                    <a href="#">&#x20B9;528</a>
                    <a href="#">&#x20B9;1319</a>
                    <a href="#">&#x20B9;2639</a>
                </div>
                <div class="part">
                    <a href="#">&#x20B9;5278</a>
                    <a href="#">&#x20B9;10,555</a>
                </div>
                <div class="card3">
                    <textarea name="&#x20B9;" id="" cols="1" rows="1"> &#x20B9;</textarea>
                </div>
                <h2>DONATION TOW GOOD FOUNDATION ARE TAX DEDUCTEBLE</h2>
            </div>
        </div>
    </div>
    <% include ./partial/footer.ejs %>
    
