<% include ./partial/header.ejs %>
<link rel="stylesheet" href="/stylesheets/menu.css">
    <div class="menu">
        <div class="contenercardx">
            <div class="cardx">
                <h3>CONNECT WITH US</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Instagram</li>
                    <li>Twitter</li>
                    <li>LinkedIn</li>
                    <li>YouTube</li>
                </ul>
            </div>
            <div class="cardy">

                <h3>NITTY GRITTIES</h3>
                <ul>
                    <li>Good Things FAQs</li>
                    <li>Good Food FAQs</li>
                    <li>Good Places</li>
                    <li>Pathways</li>
                    <li>Careers</li>
                </ul>
            </div>
            <div class="cardz">
                <h3>Get started</h3>
                <ul>
                    <li>Pathways</li>
                    <li>Careers</li>
                </ul>
            </div>
        </div>
        <div class="bar">
            <ul>
                <li>shop</li>
                <li>catering<i class="ri-arrow-right-up-line"></i></li>
                <li>impact</li>
                <li>stories</li>
                <li>about</li>
                <li>Contact</li>
                <li>Donate</li>
                <li>Sign in</li>
            </ul>
        </div>
    </div>
    <% include ./partial/footer.ejs %>
    
