<form action="">
<a class="minus" href="#" style="text-decoration: none; color: #fff;">-</a>
<a class="num"  href="#" style="text-decoration: none; color: #fff;">1</a>
<a class="plus" href="#" style="text-decoration: none; color: #fff;">+</a>
</form>



<script>


    let plusbtn =  document.querySelector(".plus");
    let numbtn = document.querySelector(".num");
    let minusbtn = document.querySelector(".minus");

    let a = 1;
    plusbtn.addEventListener("click",()=>{
     a++;
     numbtn.innerHTML = a;
     if(a < 0){
         numbtn.innerHTML = 0;
     }
    });

    minusbtn.addEventListener("click",()=>{
     a--;
     numbtn.innerHTML = a;
     if(a < 0){
         numbtn.innerHTML = 0;
     };
    });

 </script>