body{
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: left;
    text-transform: capitalize;
    margin: 10px;
}


p{
    text-align: justify;
    word-spacing: 2px;
    letter-spacing: 1px;
    line-height: 20px;
    /* font-family: 'Courier New', Courier, monospace; */
}

table,tr,th,td{
    border: 2px solid black;
    border-collapse: collapse ;
    padding: 10px;
    text-align: center;
}