*{
    padding: 0;
    margin: 0;
}

html,body {
    height: 100%;
    width: 100%;
}


.card{
    padding: 10px 20px;
}

.heading{
    text-align: center;
    text-transform: capitalize;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 5vw;
    font-weight: 500;
    text-shadow: 1px 1px red;
    font-style: italic;
    background-color: yellow;
    padding: 10px;

}

.heading:hover{
    scale: calc(1.1);
    transition: linear 1s;
    background-color: #fff;
}