<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Form push in mongodb</title>
</head>
<body>
  <h1>mongodb</h1>
  <div class="form">
    <form action="/" method="post">
      <div class="card">
      <p>First_name: <input type="text" name="first_name" id="First_name" placeholder="shubham"></p>
      <p>Last_name: <input type="text" name="last_name" id="Last_name" placeholder="meshram"></p>
    </div>
    <div class="card2">
      <p>Email: <input type="email" name="email" id="Email" placeholder="shubhcode97@gmail.com"></p>
      <p>Contact: <input type="number" name="number" id="num"></p>
    </div>
    <input type="submit">
    </form>
  </div>
  
</body>
</html>