*{
    margin: 0px;
    padding: 0px; 
    box-sizing: border-box;
    /* font-family: 'Gilroy'; */
}

*::selection{
    color:black;
    background-color: rgba(30, 139, 201, 0.433);
}


html,body{
    height: 100%;
    width: 100%;
}


.curcer{
    height: 150px;
    width: 150px;
    background-color:bisque;
    border-radius: 50%;
    /* filter: blur(50px); */
    position: fixed;
    transform: translate(-50%,-50%) scale(0);
}

.page1{
    min-height: 100hv;
    width: 100%;
    position: relative;
    padding: 0 2vw;
    padding-top: 15vh;

}


.page1 h1{
    font-size: 14vw;
    line-height: 13vw;
    letter-spacing: -1vw;
}

.video-contener{
    height: 100vh;
    width: 100%;
    padding-top: 1vw;
    /* background-color: gray; */

}

.video-contener video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}

.video-contener .play{
    padding: 1.5vw 1.2vw;
    background-color: #111;
    color: #fff;
    font-size: 2vh;
    position: fixed;
    text-transform: uppercase;
    border-radius: 50%;
    opacity: 0;
    scale: 0;
}


/* page2 */

.page2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw 2vw 3vw 2vw;
    
}
.page2 .elem{
    height: 90vh;
    width: 30vw;
    position: relative;
    /* background-color: red; */
}

.page2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;

}

.page2 .elem .dets{
    height: 60px;
    width: 80%;
    border-radius: 30px;
    position: absolute;
    z-index: 9;
    top: 50%;
    left: 10%;
    transform: translate(-50%,-50%);
    background-color:blanchedalmond;

}

.page2 .elem .dets:hover{
    height: 300px;
}

.page2 .elem .dets ul{
    position: absolute;
    margin-left: 50px;
    padding-top: 12px;
    font-size: 25px;

}

.page2 span{
    padding-left: 100px;
    text-transform: uppercase;
    font-weight: 800;
}

/* page3 */

.page3{
    min-height: 130vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.child{
    height: 79vh;
    width: 45vw;
    margin-bottom: 5vh;
    /* background-color: red; */
}

.page3 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.page3 h5,h6{
    text-align: center;
    font-size: 16px;
    font-weight: 100;
}











@media (max-width:600px) {
    .page1{
        min-height: 70vh;
        width: 100%;
        padding: 0 2vw;
        padding-top: 25vh;
    
    }
    .page1 h1{
        font-size: 15.5vw;
        line-height: 14vw;
        letter-spacing: -3px;
    }

    .video-contener{
        height: 25vh;
        width: 100%;
        padding-top: 1vw;
        border: 3px solid red;
        margin-top: 3vw;
    
    }

    .video-contener .play{
        padding: 6vw 5vw;
        font-size: 2vh;
        position: absolute;
        top: 83%;
        left:50%;
        border-radius: 50%;
        opacity: 1;
        scale: 1;
        transform: translate(-50%,-50%);
    }

    .page2{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 3vw 3vw;
    }
    .page2 .elem{
        height: 100%;
        width: 100%;
        margin-bottom: 3vw;
    }
    
    .page2 img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
    
    }
    
    
    
}