<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="card">
        <form action="/createPost" method="post">
            <input type="text" class="name" id="name" placeholder="productName">
            <input type="number" class="price" id="price" placeholder="price">
            <input type="text" class="description" id="description" placeholder="description">
            <!-- <input type="file" id="image" name="image" placeholder="image"> -->
            <input type="submit" value="post submit">
        </form>
    </div>
    
</body>
</html>