/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.read-the-docs {
  color: #888;
} */


.container{
  background-color: red;
  color: green;
  font-size: 100px;
  font-weight: 600;
}


/* .card{
  background-color: green;
} */




.cardImg{
  height: 540px;
  width: 300px;
  object-fit: cover;
  object-position: center;
 }

/* .SaveBtn{
  opacity: 0;
  position: relative;
  z-index: 100;
}


.selectbtn{
  opacity: 0;
  position: absolute;
  z-index: 100;

} */

/* .SaveBtn:hover{
  position: relative;
  z-index: 11;
} */








.Chatbox{
  /* position: relative;
  z-index: 90; */
  overflow: hidden;
}

/* .chatboxheader{
  background-color: green;
  position: fixed;
  z-index: 91;
  width: 22vw;
} */



/* .bodyData{
  background-color: red;
  overflow-y: scroll;

} */

/* .fotterbox{
  position: fixed;
  top: 700px;
  z-index: 91;
  background-color: yellow;
} */



