.navbar{
    background-color: red;
}

@media (max-width:767px) {
    .navbar{
        background-color: green;
        /* display: none; */
        display: flex;
        align-items: center;
        justify-content:space-between;
        gap: 20;
    }

    .navitem{
        display: none;
    }

    
}