*{
    padding: 0;
    margin: 0;
}

html,body{
    height: 100%;
    width: 100%;
}

/* body{
    background-color: #1b1919;
} */



#navbar{
    display: flex;
    align-items: center;
    justify-content:space-between;
    height: 70px;
    position: absolute;
    z-index: 99;
    width: 100%;
}


.navlist{
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 30px;
    padding: 0px 20px;
    font-size: 1.2vw;
    font-weight: 400;
}

.navlist a{
    color: #111;
    text-decoration: none;
}
.logo{
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 10px;
}
.serachP{
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 5px;
}

.inputerSerch{
    width: 45vw;
    height: 40px;
    border-radius: 10px;
}

.fa-ellipsis-vertical{
    margin-left: 100px;
    font-size: 1.1vw;
}


.dropdownlist{
    background-color: gray;
    padding: 10px;
    width: 100px;
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 999;
    margin-left: 68vw;
    top: 50px;
    opacity: 0;
}

.dropdownlist2{
    background-color: gray;
    padding: 10px;
    width: 100px;
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 999;
    margin-left: 93vw;
    margin-top: -30px;
    opacity: 0;
}


.page1{
    min-height: 100vh;
    /* width: 100%; */
    padding: 10px 20px;
    position: relative;
    z-index: 99;
    margin-top: -100px;
 
}

.produnctlist{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 70px;
    margin-top: 10px;
    background-color: rgb(231, 226, 226);
    padding: 10px;
    border-radius: 10px;


}


.card2{
    padding: 20px 1px;
}

 * {
    box-sizing: border-box;
}

    


.carousel-cell {
  width: 100%;
  height: 300px;
  margin-right: 10px;
  /* background: #8C8; */
  border-radius: 5px;
  counter-increment: gallery-cell;
}

.card3{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(245, 242, 242);
    gap: 100px;
}

.carousel2{
   width: 80%; 
}


.carousel-cell2 {
  width: 20%;
  height: 300px;
  margin-right: 10px;
  /* background: #8C8; */
  border-radius: 5px;
  counter-increment: gallery-cell;
  
 
}


#fivenumber{
    margin-left: 100px;
}

.images{
    width: 100%;
    height: 300px;
}


.card3 .carousel2 img:hover{
    transform: scale(1.1);
    transition: all linear 0.2s;
    
 
}
