<link rel="stylesheet" href="/stylesheets/cFooter.css">
<footer class="footer">
    <div class="card1">
        <h5>Two Good Co</h5>
        <h5>0497 889 927</h5>
        <h5 id="cEmail">sydneycatering@<Span>twogood.com.au</Span></h5>
        <h5>255 Wilson Street</h5>
        <h5>Eveleigh 2010</h5>
        <h5>Australia</h5>
    </div>
    <div class="card2">
        <h5>Terms & Conditions</h5>
    </div>
    <div class="card3">
        <div class="icone">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
        </div>
        <h5 class="good">© 2024 Two Good Co
            <span>Powered by FoodStorm</span>
        </h5>
    </div>
</div>
</footer>


<script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
<!-- <script src="/javascripts/catring.js"></script> -->
</body>
</html>