*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
}


.page2{
  min-height: 70vh;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: end;
  flex-direction: column;
  padding: 0px 100px;
}

.page2 h1{
  font-size: 7vw;
}

.page{
  min-height: 75vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  padding-top: 70px;
  padding: 0px 100px;
}

.page img{
  height: 430px;
  width: 100%;
}

.page .card2{
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  padding: 20px 10px;
  /* background-color: rgba(36, 142, 204, 0.348); */
  border: 2px solid gray;
  border-radius: 5px;
}

.page .card2 h1{
  font-size: 1.5vw;
  font-weight: 600;
  color: blue;
  word-spacing: 10px;
}


.page .card2 p{
  font-size: 1.2vw;
  text-align: justify;
  font-weight: 300;
}


.page3{
  min-height: 100vh;
  width: 100%;
  padding: 10px 100px;
  
}

.page3 .cards{
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 100px;

}

.page3 .cards .card{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 5px;

}


.page3 img{
  height: 400px;
  width: 500px;
  object-fit: cover;
  object-position: center;
  float: right;

}

.page3 h1{
  font-size: 2vw;
  padding-bottom: 50px;
  text-align: center;
  padding-top: 100px;
}

.page3 p{
  font-size: 1.2vw;
  text-align: justify;
  padding-top: 10px;
}