<style>
    footer{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    footer .card{
        margin-bottom: 20px;
    }

    footer .card2{
        margin-bottom: 20px;
    }


    footer a{
        text-decoration: none;
        font-size: 1vw;
        color: #111;
        padding: 5px 20px;
        margin: 1px;
        background-color:orange;
    }

    footer a:hover{
        background-color: blue;
        color: #fff;
    }
</style>
<footer>
    <div class="card">
        <a href="">Cleaners</a>
        <a href="">Nickel plating</a>
        <a href="">White bronze</a>
        <a href="">Strippers</a>
        <a href="">Silver plating</a>
        <a href="">Acid Zinc Plating</a>
    </div>
    <div class="card2">
        <a href="">Copper Plating</a>
        <a href="">Electroless Nickel</a>
        <a href="">Trivalent passivation</a>
        <a href="">Topcoats and Sealants</a>
        <a href="">Alkaline Zinc Iron</a>
        <a href="">Alkaline Zinc</a>
    </div>
    <div class="card3">
        <p>Copy right Reserved by DaneSurface Technology Pvt. Ltd.</p>
    </div>
</footer>
</body>
</html>