*{
    margin: 0px;
    padding: 0px;
}

body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

h4{
    width: 100%;
    text-align: center;
    font-size: 20px;
    background-color: aquamarine;
    padding: 10px;
}

.navbar{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top:0;
    z-index: 998;
    background-color: #fff;
}


.navbar .part1 a{
    color: #111;
}


.navbar .part2{
    display: flex;
    align-items: center;
    gap: 50px;
}

.navbar .part2 a{
    color: #111;
    text-decoration: none;
    font-size: 25px;
}


.navbar .part2 #group{
    display: flex;
    text-align: start;
    align-items: center;
    gap: 10px;
}


.page1{
    text-align: center;
    padding-bottom: 50px;
}

.page1 img{
    height: 250px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.page2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 10px;
}

.page2 .part1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    gap: 20px;
}



.page2 .part1 input{
    height: 50px;
    width: 100%;
    font-size: 20px;
    margin-top: 10px;
}
.page2 .pard4{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    gap: 20px;
}


.page2 .pard4 input{
    height: 50px;
    width: 100%;
    font-size: 20px;
    margin-top: 10px;
}
.page2 .part2{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    margin-bottom: 30px;
}


.page2 .part2 input{
    height: 50px;
    width: 100%;
    font-size: 20px;
    margin-top: 10px;
}


.page2 .part3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    gap: 20px;
}

.page2 .part3 input{
    height: 50px;
    width: 100%;
    font-size: 20px;
    margin-top: 10px;
}

.page2 .part5{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

}

.page2 .part5 #checkbox{
    margin-top: 20px;
}



.page2 textarea{
    height: 100px;
    width: 100%;
    margin-top: 10px;

}

#number-of-gest{
    margin-bottom: 20px;
}

.page2 select{
    height: 50px;
    width: 120%;
    margin-top: 10px;
}

.page2 p{
    font-size: 23px;
    text-transform: capitalize;
}

#butten{
    background-color: #111;
    color: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    margin-left: 45%;
    margin-top: 50px;

}










footer{
    height: 24vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #111;
    color: #fff;
    margin-top: 100px;
}

footer .card2{
    font-size: 20px;
}


footer .card1{
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 20px;

}


footer .card3{
    display: flex;
    flex-direction: column;
    align-items: end;
}


footer .card3 .icone{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 10px;
}

footer .card3 h5{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;

}
