body{
    overflow-x: hidden;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#SvgLink {
    text-decoration: none;
    color: #111;
    transform: translate(0px, 0px)

}

#contShop{
    text-decoration: none;
    color: #111;
    
}


.chekout {
    font-size: 3vw;
    font-weight: 800;

}


/* page2 styling */
.page2 {
    display: flex;
    align-items: start;
    justify-content: space-between;

}


/* card1 styling */
.page2 .card {
    width: 60%;

}

.page2 .card .cust {
    font-size: 2vw;
    text-transform: capitalize;
    border-top: 1px solid gray;
    text-transform: uppercase;

}

.page2 .card .custEmail {
    font-weight: 400;
    font-size: 1vw;
    text-transform: lowercase;
    margin-left: 20px;

}

.shipAdd {
    font-size: 2vw;
}

.formContainer {
    display: flex;
    align-items: start;
    justify-content: space-around;
    flex-direction: column;
    gap: 30px;
    margin-left: 20px;
    font-size: 1vw;
    /* background-color: rebeccapurple; */
    padding-top: 30px;

}

.formContainer #card1{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 15px;

}

.formContainer input {
    font-size: 0.9vw;
    border: none;
    border-bottom: 1px solid #111;
}

#State {
    width: 30%;
    
}

#countery {
    width: 12%;
}

#mobile {
    width: 18%;
}


#pincode {
    width: 12%;
}

#UpdateBtn {
    padding: 7px 20px;
    border-radius: 20px;
}

#paymentbtn {
    border-top: 1px solid gray;
    padding-top: 30px;
    font-size: 2.5vw;

}

#paymentbtnLink {
    text-decoration: none;
    background-color: orange;
    padding: 2px 10px;
    border-radius: 10px;
    color: #111;
    font-size: 2vw;

}


/* card2 styling */

.page2 .card2 {
    border-top: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

}

#orderSummery {
    font-size: 1.6vw;

}

#editCard {
    padding-left: 200px;
    font-size: 1vw;
    font-weight: 400;
}


.card2 .card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
}

#qty {
    font-size: 1vw;
    font-weight: 400;
    width: 90%;

}

.card2 .card img {
    height: 70px;
}

#price {
    font-size: 1vw;
    font-weight: 600;
    padding-bottom: 50px;
}

.page2 .card2 .card2 {
    display: flex;
    align-items: start;
    justify-content: space-between;
    border-top: 1px solid gray;
    width: 90%;
    flex-direction: row;
}

.page2 .card2 .card2 .card {
    display: flex;
    align-items: start;
    justify-content: space-between;
    /* background-color: rebeccapurple; */
    flex-direction: column;
}

.page2 .card2 .card2 h1 {
    font-size: 1vw;
    font-weight: 500;
    /* color: red; */
}

.page2 .card2 .card3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid gray;
    padding-bottom: 50px;
    width: 90%;

}

.page2 .card2 .card3 h1 {
    font-size: 1vw;
    font-weight: 600;
    /* color: red; */
}

.page2 .card2 .card4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid gray;
    width: 90%;
    /* background-color: rebeccapurple; */
    gap: 170px;
}

.page2 .card2 .card4 h1 {
    font-size: 1vw;
    font-weight: 500;
}

#amount {
    font-weight: 600;
}

h1 {
    text-transform: uppercase;
}


#UpdateBtn:hover {
    background-color: rgb(17, 175, 17);
    color: yellow;
}

#paymentbtn2{
    display: none;
}

#paymentbtnLink:hover{
    background-color: rgb(15, 141, 105);
    color: #fff;
}

.page2 .formContainer label{
    margin-left: 10px;
    /* background-color: rebeccapurple; */
}


@media (max-width:600px) {

    body{
        overflow-x: hidden;
    }

    #svg1{
        height: 13vw;
        width: 13vw;
    }

    #contShop{
        font-size: 3vw;
    }

    .chekout{
        padding-top: 20px;
        /* background-color: rebeccapurple; */
    }

    .page2 .card .cust{
        padding-top: 20px;
        font-size: 3vw;

    }

    .page2 .card .custEmail{
        font-size: 3vw;
    }

    .shipAdd{
        /* background-color: rebeccapurple; */
        font-size: 3vw;
        padding-top: 20px;
    }
    .page2{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .page2 .card{
        width: 100%;
        /* background-color: red; */
        padding-bottom: 20px;
       
    }

    .formContainer {
        display: flex;
        align-items: start;
        justify-content:center;
        flex-direction: column;
        gap: 20px;
   
    
    }
    

    

    .formContainer #card1{
        /* background-color: red; */
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        gap: 15px;

    }

    .formContainer label{
        font-size: 3.5vw;
        font-weight: 600;
        padding: 0px;
        margin: 0px;
    }

    .formContainer  input{
        font-size: 3vw;
       margin-bottom: 10px;
       margin-left: 10px;
    }

    #paymentbtn{
        display: none;
    }

    #paymentbtn2{
        display: block;
        margin-left: -30vw;
    }

    #paymentbtnLink{
        font-size: 5vw;
        
    }

    .page2 .card2{
        width: 100%;
    }

    #orderSummery{
        /* background-color: red; */
        font-size: 4vw;
        width: 100%;
    }
    #editCard{
        font-size: 3vw;
    }

    #productCard{
        display: flex;
        align-items: start;
        justify-content: space-between;
        /* background-color: rebeccapurple; */
        flex-direction: row;
        width: 90%;
        padding-top: 20px;
    }

    #qty{
        font-size: 3vw;
    }

    #price{
        font-size: 3vw;
    }

    #items{
        font-size: 3vw;
    }
    #amount{
        font-size: 3vw;
    }

    #card3item h1{
        font-size: 3vw;

    }
    #card4item h1{
        font-size: 3vw;
    }

    #gst{
        font-size: 3vw;
    }
    
}
