/* univers section */
*{
  margin: 0px;
  padding: 0px; 
  box-sizing: border-box;
}


@font-face {
  font-family: futura;
  src: url("/Futura-Bold.ttf") format('ttf');
  font-weight:normal;
  font-style: normal;
  
}

@font-face {
  font-family: Helvetica;
  src: url("/HelveticaNowText-Regular.ttf") format('ttf');
  font-weight: normal;
  font-style: normal;
}



/* select the text then color style */
*::selection{
  color:black;
  background-color: rgba(30, 139, 201, 0.433);
}



/* html and body style */
html{
  height: 100%;
  width: 100%;
  background-color:#fff;
}

body{
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 99;
  /* color: red; */

}





/* navbar styling */
.header-nav{
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 999;
  padding: 0px 10px;
  max-width: inherit;
  font-family: 'Helvetica', sans-serif;
  
  
}


/* logo img styling*/
.nav-part1 svg{
  display: block;
}

.nav-part1 a{
  text-decoration: none;
  color: #111;
}

.header-nav .nav-part2 .icon #home{
  display: none;
}

.nav-part1{
  height: 83px;
  overflow: hidden;
}



/* navbar part2 styling */
.header-nav .nav-part2 .link{
  display: flex;
  align-items: center;
  gap: 50px;
}

.header-nav .nav-part2 a{
  margin: 1vw;
  text-decoration: none;
  color: #3d3a3a;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;

}

.header-nav .icon{
  background-color: aliceblue;
  border-radius: 10px;
  margin-right: 30px;
  padding: 10px;
}

.header-nav .icon i{
  margin: 10px 20px;
  background-color: transparent;
  font-size: 20px;
}


/* mouse circul mover style */
.curcer{
  height: 150px;
  width: 150px;
  background-color:bisque;
  border-radius: 50%;
  /* filter: blur(50px); */
  position: fixed;
  transform: translate(-50%,-50%) scale(0);
  
}

/* landing home page1 */
.page1{
  min-height: 100hv;
  width: 100%;
  position: relative;
  z-index: 99;
  padding: 0 2vw;
  padding-top: 30vh;

}

/* h1 text styling */
.page1 h1{
  font-size: 15vw;
  line-height: 13vw;
  letter-spacing: -0.5vw;
  word-spacing: 1vw;
  font-family: 'Futura', sans-serif;
 
}


/* video conterner style */
.video-contener{
  height: 100vh;
  width: 100%;
  padding-top: 1vw;

}

.video-contener video{
  height: 100%;
  width: 100%;
  object-fit: cover;
  
}

.video-contener .play{
  padding: 1.5vw 1.2vw;
  background-color: #111;
  color: #fff;
  font-size: 2vh;
  position: fixed;
  text-transform: uppercase;
  border-radius: 50%;
  opacity: 0;
  scale: 0;
}


/* video buttom text styling */
.hading{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  margin-top: 5vh;
}

.hading h5{
  font-weight: 100;
}


/*product page2 img styling  */

.page2{
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  z-index: 99;  
}
.page2 .elem{
  height: 90vh;
  width: 100%;
  padding: 0px 20px;
  position: relative;
}

.page2 img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}


.contener1 .dets{
  height: 3.5vw;
  width: 25vw;
  top:50%;
  left: 14%;
  right: 50%;
  border-radius: 20px;
  position: absolute;
  z-index: 9;
  text-align: center;
  background-color:blanchedalmond;
}


.cotener2 .dets{
  height: 3.5vw;
  width: 25vw;
  top:50%;
  left: 14%;
  right: 50%;
  border-radius: 20px;
  position: absolute;
  z-index: 9;
  text-align: center;
  background-color:blanchedalmond;
}

.contener3 .dets{
  height: 3.5vw;
  width: 25vw;
  top:50%;
  left: 14%;
  right: 50%;
  border-radius: 20px;
  position: absolute;
  z-index: 9;
  text-align: center;
  background-color:blanchedalmond;
}

.contener1 .dets:hover{
  height: 16vw;

}

.cotener2 .dets:hover{
  height: 16vw;

}

.contener3 .dets:hover{
  height: 16vw;

}

.page2 .elem .dets ul{
  margin-left: 3vw;
  padding-top: 1vw;
  font-size: 1vw;
}




.page2 span{
  padding-left: 4vw;
  text-transform: uppercase;
  font-weight: 800;
}



.cotener2 p{
  font-size: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  padding-top: 0.7vw;
}

.cotener2 p strong{
  margin: 10px 30px;
}



/*product page2 hover box */
.page2 .box{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
}

.page2 .box img{
  height: 6.5vw;
  width: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0;

}

.page2 #botel{
  margin-top: -4vh;
  height: 9vw;
  width: 100%;
}



.page2 .box2{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2vh;
}

.page2 .box2 h5{
  text-align: center;
  padding: 15px;
  padding-right: 30px;
  font-size: 1.2vh;
  letter-spacing: 1px;
  color: rgb(76, 74, 74);
  font-weight: 100;
  opacity: 0;
}




/*product page3 */
.page3{
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border-bottom: 3px solid black;
  padding-bottom: 100px;
  position: relative;
  z-index: 99;
}


  
.page3 .product-details{
  display: flex;
  align-items:flex-start;
  justify-content: space-between;
  padding: 28px;

}

.product-details h1{
  width: 70%;
  font-size: 7vh;
  /* color: red; */
  font-family: 'Futura', sans-serif;
}


.summary{
  width: 60%;
  margin-left: 9vw;
  padding: 0 100px;
  /* color: red; */
  font-family:'Helvetica', sans-serif;
}

.page3 .summary h3{
  font-size: 2.5vh;
  margin-bottom: 80px;
  text-align: start;
  font-weight: 100;
}


.page3 .summary h4{
  font-weight: 100;
  margin-top: -30px;
}

.page3 .summary h4:hover{
  text-decoration: underline;
}



#products{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  
}



.child{
  /* height: 60vh; */
  width: 100%;
  margin-bottom: 5vh;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-color: green; */
}

#ProductItems{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
 
}

#ProductItems2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

}


.page3 img{
  height: 50vh;
  width: 25vw;
  object-fit: cover;
  object-position: center;
}


.page3 .child h5,h6{
  text-align: center;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 100;
  font-family: 'Helvetica', sans-serif;
}

.page3 .child2 h5,h6{
  text-align: center;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 100;
  font-family:  'Helvetica', sans-serif;
}



/* impacat page4  style */
.page4{
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items:flex-start;
  justify-content: space-between;
  padding-top: 50px;
  position: relative;
  z-index: 99;
 
}

.page4 h1{
  font-weight: 900;
  padding: 0px 40px;
  margin-top: 10px;
  word-spacing: 0.5px;
  font-family: 'Futura', sans-serif;
} 

.page4 h3{
  width: 31vw;
  font-weight: 100;
  font-size: 20px;
  padding: 30px 40px;
  text-align: justify;
  font-family:'Helvetica', sans-serif;
} 

.page4 h4{
  font-weight: 100;
  padding: 0px 40px;
  text-decoration: underline;
  font-family:'Helvetica', sans-serif;
}


.page4 img{
  height: 100vh;
  padding: 20px;
}


.endpage{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px;
  border-bottom: 1px solid gray;
}


/* footer page5 and page6 */
.page5 .endpage h1{
  font-size: 5vh;
  font-family: 'Futura', sans-serif;
}

.page5 i{
  font-size: 4vh;
  font-weight: 100;
  font-family: 'Futura', sans-serif;
}


/*footer page6  */

.page6{
  min-height: 20vh;
  width: 100%;
  display: flex;
  align-items:flex-start;
  justify-content: space-between;
  padding: 0px 40px;
  padding-top: 30vh;
  padding-bottom: 5vh;
  position: relative;
  z-index: 99;
  /* background-color: rebeccapurple; */
  font-family:'Helvetica', sans-serif;
}

.page6 .card1 li{
  list-style-type: none;
  padding: 2px;
  font-size: 20px;
  font-weight: 100;
}

.page6 .card1 li:hover{
  color: #6c6868;
}

.page6 h3{
  margin-bottom: 20px;
  color: gray;
}



.page6 .card2 li{
  list-style-type: none;
  padding: 2px;
  font-size: 20px;
  font-weight: 100;
  text-align: end;
}

.page6 .card2 li:hover{
  color: #6c6868;
}


.page6 svg{
  height: 27vh;
  width: 100%;
  opacity: 0;
  font-family: 'Futura', sans-serif;
}

.page6-part2{
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 99;
  font-family: 'Helvetica', sans-serif;
}

.page6-part2 h3{
  font-weight: 100;
  color: gray;
  font-family: 'Helvetica', sans-serif;

}

.page6-part2 h4{
  text-align: center;
  padding: 70px;
  font-size: 20px;
  font-weight: 100;
}

.page6-part2 .GRAYSCALE{ 
  color: #8d8888;
  font-size: 15px;
  font-family:'Helvetica', sans-serif;
}











/* responsive pages for mobile user */
@media (max-width:600px) { 


html{
  height: 100%;
  width: 100%;
  max-width: 100% !important;
  overflow-x: hidden !important;
}

body{
  height: 110%;
  width: 100%;
  max-width: 100% !important;
  overflow-x: hidden !important;
  
}
  
  .header-nav{
      height: 100px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      top: 0;
      position: fixed;
      z-index: 999;
      max-width: inherit;
      /* background-color: #fff; */

  }
  
  .header-nav .nav-part2 #cat{
      display: none;
  
  }
  
  .header-nav .icon{
      margin-right: 10px;
  }


  .header-nav .nav-part2 .icon #home{
    margin-left: 25vw;
    /* background-color: green; */
  }



/* page1 */
  .page1{
      min-height: 100vh;
      width: 100%;
      padding: 0 2vw;
      padding-top: 25vh;
  
  }
  .page1 h1{
      font-size: 15.5vw;
      line-height: 14vw;
      letter-spacing: -3px;
  }

  .video-contener{
      height: 50vh;
      width: 100%;
      padding-top: 1vw;
      margin-top: 3vw;
  }

  .video-contener .play{
      padding: 6vw 5vw;
      font-size: 2vh;
      position: fixed;
      top: 50%;
      left:50%;
      border-radius: 50%;
      opacity: 1;
      scale: 1;
      transform: translate(-50%,-50%);
  }

  .hading{
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid black;
      margin-top: 5vh;
  }

  .hading h5{
      font-weight: 100;
  }


  /* page2 */

  .page2{
      min-height: 100vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      padding-top: 5vh;
      
  }
  .page2 .elem{
      height: 80vh;
      width: 100%;
      margin: 0px 100px;
      margin-bottom: 2vh;
  }
  
  .page2 img{
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
  
  }
  
      
  .contener1 .dets{
      height: 10vw;
      width: 68vw;
      top:50%;
      left: 14%;
      border-radius: 20px;
      position: absolute;
      z-index: 9;
      text-align: center;
      background-color:blanchedalmond;
  }




  .cotener2 .dets{
      height: 10vw;
      width: 68vw;
      top:50%;
      left: 14%;
      border-radius: 20px;
      position: absolute;
      z-index: 9;
      text-align: center;
      background-color:blanchedalmond;
  }

  .contener3 .dets{
      height: 10vw;
      width: 68vw;
      top:50%;
      left: 14%;
      border-radius: 20px;
      position: absolute;
      z-index: 9;
      text-align: center;
      background-color:blanchedalmond;
  }

  .contener1 .dets:hover{
      height: 60vw;

  }

  .cotener2 .dets:hover{
      height: 60vw;

  }

  .contener3 .dets:hover{
      height: 60vw;

  }

  .page2 .elem .dets ul{
      margin-left:7vw;
      padding-top: 3vw;
      font-size: 3vw;
  }




  .page2 span{
      padding-left: 5vw;
  }


  .cotener2 p{
      font-size: 3vw;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 300;
  }

  .cotener2 p strong{
      margin: 10px;
  }


/* hover box */

.page2 .box{
  margin-top: 5vh;
}

.page2 .box img{
  height: 18vw;
  width: 100%;

}

.page2 #botel{
  margin-top: -4vh;
  height: 25vw;
  width: 100%;
}



.page2 .box2{
  width: 100%;
  padding: 0.5vh;
  margin-top: -2vw;
  
}

.page2 .box2 h5{
  font-size: 2vw;

}


/* page3 */


  .page3{
      min-height: 100vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      flex-wrap: nowrap;
      /* background-color: red; */
  }

  .page3 .product-details{
      display: flex;
      align-items:center;
      flex-direction: column;
      justify-content: space-between;
      /* background-color: red; */
  
  }
  
  .product-details h1{
      text-align: center;
      width: 70%;
      font-size: 5vh;
      padding-bottom: 50px;
      /* background-color: rebeccapurple; */
  }
  
  
  .summary{
      width: 100%;
      margin-left: -9vw;
      /* padding: 0 100px; */
      
  }
  
  .page3 .summary h3{
      height: 100%;
      width: 90vw;
      font-size: 3vh;
      margin-bottom: 80px;
      text-align: center;
      font-weight: 100;
  }

  .page3 .summary h4{
      text-align: center;
      height: 110px;
      width: 90vw;
      font-size: 20px;
      margin-top: 10vh;
      text-decoration: underline;

  }
  
  .child{
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      opacity: 1;
      /* background-color: rebeccapurple; */

  }

  #ProductItems{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0px;
    margin: 0px;
  }

  #ProductItems img{
    height: 40vw;
    width: 100%;
    padding: 0px;
    margin: 0px;
    object-fit: cover;
    object-position: center;
    

  }

  #ProductItems h5{
    font-size: 2.5vw;
    /* background-color: rebeccapurple; */
  }


  #ProductItems2{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0px;
    margin: 0px;
  }

  #ProductItems2 img{
    height: 40vw;
    width: 100%;
    padding: 0px;
    margin: 0px;
    object-fit: cover;
    object-position: center;
    

  }

  #ProductItems2 h5{
    font-size: 2.5vw;
    /* background-color: rebeccapurple; */
  }

  .child2{
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      opacity: 1;


  }
 

  /* page4  */

  .page4{
      min-height: 100vh;
      width: 100%;
      display: flex;
      flex-direction:column-reverse;
  }

  .page4 .storyimg{
      display: flex;
      align-items: center;
  }
  
  .storyimg img{
      height: 60vw;
      width: 100%;
      border-radius: none;
      object-fit: cover;
      /* background-color: red; */
  }

  .storyimg .image1{
      margin-left: 10px;
  }


  .story h3{
      font-size: 4vw; 
      width: 90%;
      text-align:justify ;
      
  }

  .story h4{
      font-size: 3vw; 
      width: 90%;
      padding-bottom: 100px;
      
  }

  .page4 .story h1{
      padding-top: 50px;
  }
  
  .page5 h1 ,i{
      /* padding-bottom: 10vh; */
      font-size: 3vh;
  }

  .page6{
      display: flex;
      flex-wrap:wrap;
  }

  .page6 .card1{
      order: 2;
  }
  .page6 .card2{
      order: 3;
  } 

  .page6 svg{
      margin-top: -300px;
      height: 70px;
      opacity: 1;
  }

  .page6 .card1{
      margin-top: 50px;
      margin-left: -50vw;
  }

  .page6 .card1 h3{
      font-size: 2.5vw;
      padding-left: 10vw;
  }

  .page6 .card1 ul li{
      font-size: 4vw;
      padding-left: 11vw;
  }


  .page6 .card2{
      margin-top: 50px;
  }

  .page6 .card2 h3{
      font-size: 2.5vw;
  }

  .page6 .card2 ul li{
      font-size: 4vw;
  }


  .page6-part2{
      text-align: center;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
  }
  
  .page6-part2 h3{
      font-weight: 100;
      color: gray;
      font-size: 3vw;
      padding-bottom: 5vh;
  
  }
  
  .page6-part2 h4{
      text-align: start;
      font-size: 4vw;
      font-weight: 100;
  }

  .page6-part2 .GRAYSCALE{ 
      color: #8d8888;
      font-size: 10px;
  }

  
}