/* menubar style */
body{
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#svg1{
    color: #fff;
    /* margin: 0px 10px; */
}

.header-nav .nav-part2 a{
  z-index: 99;
  color: #fff;
}


.header-nav .nav-part2 .ri-menu-line{
  display: none;
}




.header-nav .nav-part2 .icon{
    display: flex;
    align-items: center;
    padding: 0px;
    height: 50px;
    width: 190px;
    background-color: transparent;
}

.header-nav .nav-part2 .icon #card{
    display: none;
}


.header-nav .nav-part2 .icon #home{
    display: block;

  }


.menu{
    height: 100vh;
    width: 100%;
    background-color:#111;
    color: #cdc9c9;
    position: absolute;
    z-index: 40;
    opacity: 1;
    display: flex;
    align-items:end;
    justify-content: space-between;
    padding: 10px 10px;
  }
  
  .menu .contenercardx{
    display: flex;
    /* margin-bottom: -10vh; */
  }
  
  .menu li{
    list-style-type: none;
    font-size: 20px;
    font-weight: 100;
    font-family: 'Helvetica', sans-serif;
  }
  
  
  
  
  .menu .cardz{
    margin-bottom: 10px;
    margin-left:10vw ;
  }
  
  .menu .cardy{
    margin-bottom: 64px;
    margin-left:10vw ;
  }
  
  
  .menu .cardx li{
    color:rgb(174, 168, 168);
    font-size: 20px; 
  }
  
  .menu .cardy li{
    color:rgb(174, 168, 168);
    font-size: 20px;    
  }
  
  .menu .cardz li{
    color:rgb(174, 168, 168);
    font-size: 20px;    
  }

  .menu .bar .card{
   display: flex;
   flex-direction: column;
   align-items: end;
   justify-content: end;
   padding-right: 20px;
   padding-bottom: 30px;
  }

  .menu .bar .card a{
    font-size: 6vh;
    font-weight: 1000;
    text-transform: uppercase;
    text-decoration: none;
    color: #cdc9c9;
    font-family: 'Futura', sans-serif;
    
  }

  .menu .bar .card2{
    display: none;
    height: 400px;
    width: 380px;
    padding: 10px;
  }


  .menu .bar .card2 h1{
    font-size: 5vw;
    margin-bottom: 10px;
    color:aliceblue;
  }

  .menu .bar .card2 h4{
    text-align: end;
    color: aliceblue;
    text-decoration: underline;
    text-transform: capitalize;
  }

  

  .menu .bar .card2 h5{
    color: aliceblue;
    padding-top: 20p;

  }


  .menu .bar .card2 .signout{
    display: flex;
    justify-content: end;
    text-decoration: underline;
  }
  .menu .bar .card2 a{
    color: aliceblue;
    text-decoration: none;

  }


  .menu .bar .card2 input{
    height: 50px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 30px;
    /* background-color: #7d7b7b;
    border: 1px solid #848181; */
  }

  
  
  .menu h3{
    font-size: 27px;
    margin-bottom: 16px;
  }

  .menu #dignup{
    color:red;
    border-bottom: 1px solid red;
  }
  .menu #signout{
    color:red;
  }



  @media (max-width:600px){

    /* menubar style */
    .header-nav .nav-part2 .icon{
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 0px;
      height: 40px;
      width: 100%;
    }

  .menu{
      height: 100vh;
      width: 100%;
      background-color:#111;
      color: #cdc9c9;
      position: absolute;
      z-index: 40;
      opacity: 1;
      display: flex;
      align-items:center;
      justify-content:space-between;
      padding: 10px 10px;
  }

  .menu .contenercardx{
      display: flex;
      align-items:flex-start;
      margin-top: 100vh;


  }

  .menu .contenercardx h3{
      font-size: 3vw;
      text-transform: uppercase;
      margin-top: -15vh;
  }

  .menu .contenercardx ul li{
      font-size: 2.5vw;
      
  }

  .contenercardx .cardx{
      margin-right: 2vw;
  }

  .contenercardx .cardy{
      margin-right: 1vw;
  }

  
  
  .menu .bar{
      margin-left: -100vw;
      /* background-color: rebeccapurple; */
  }

  .menu .bar .card a{
    /* color: yellow; */
    font-size: 7vw;

  }
  .menu .bar li{
      font-size: 4vh;
      font-weight: 1000;
      text-transform: uppercase;
      /* background-color: red; */
      
  }
  
  .menu .cardx li{
      color:rgb(174, 168, 168);
      font-size: 20px;    
  }
  
  .menu .cardy li{
      color:rgb(174, 168, 168);
      font-size: 20px;    
  }
  
  .menu .cardz li{
      color:rgb(174, 168, 168);
      font-size: 20px;    
  }
  
  .menu h3{
      font-size: 27px;
      margin-bottom: 16px;
  }


  .menu .bar .card2{
    display: none;
    height: 400px;
    width: 380px;
    padding: 10px;
    /* background-color: rebeccapurple; */
    margin-bottom: 450px;
  }
  }


  