.main {
    margin-top: 100px;
    padding-bottom: 200px;

  }


  .main .card {
    background-color: cadetblue;
    padding: 0px 20px;
    margin: 20px 13%;
    border-radius: 20px;
    /* color: #fff; */
  }

  .main .orderDetails {
    font-size: 3vh;
    padding-top: 10px;

  }

  .main .card .productList {
    width: 100%;

  }

  .main .card .listItem {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    gap: 10px;
    background-color: ghostwhite;
    margin: 5px 0px;
    border-radius: 10px;
    /* padding: 15px 0px; */
    /* color: #111; */
    font-size: 1vw;

  }

  .main .card .listItem img {
    height: 4vw;
    width: 4vw;
    object-fit: cover;
  }

  #imageAndName {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    width: 60%;


  }


  .main .card .productName {
    font-size: 1vw;
    width: 50%;
    font-weight: 400;
    text-transform: capitalize;
    /* background-color: rebeccapurple; */
  }

  .paymentCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;

  }


  .orderStatus {
    font-size: 1vw;

  }

  .orderAmout {
    font-size: 1.2vw;
  }

  #qty{
    font-weight: 400; font-size: 1vw;
  }





  @media (max-width:600px) {

    .main {
        margin-top: 1px;
        padding-bottom: 50px;
    
      }

      .main .page1{
        /* background-color: red; */
        min-height: 0px;
        padding: 60px 0px;

      }



    .main .card {
      padding: 0px 20px;
      margin: 20px 7%;
      border-radius: 20px;
      /* background-color: rebeccapurple; */
    }

    .main .card .orderDetails {
      padding-bottom: 20px;

    }

    .main .card .listItem{
      font-size: 3vw;
      font-weight: 600;
    }

    .main .card .listItem img {
    height: 10vw;
    width: 10vw;
    object-fit: cover;
  }

    .main .card .productName {
      font-size: 3vw;
      width: 70%;
    }

    .paymentCard {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 50px;
      padding-top: 20px;
    }

    .orderStatus {
      font-size: 3vw;

    }

    .orderAmout {
      font-size: 3vw;
      /* color: rebeccapurple; */
    }

    #qty{
    font-weight: 400; font-size: 2.5vw;
  }



  }