
/* universe section */
*{
    padding: 0;
    margin: 0;
}


/* body page style */
body{
    height: 100%;
    width: 100%;
}



/* mouse cercule */
.curcer{
  height: 150px;
  width: 150px;
  background-color:rgba(22, 213, 213, 0.211);
  border-radius: 50%;
  position: fixed;
  transform: translate(-50%,-50%) scale(0);
  
}

/* lending shop home page */
.page1{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content:space-between;
    padding-top: 40vh;
    position: relative;
    z-index: 1;
}

.page1 .card1{
    height: 50%;
    width: 70%;
    font-family: 'Futura', sans-serif;

}
.page1 .card2{
    height: 50%;
    width: 50%;
    font-family:'Helvetica', sans-serif;

}

.page1 .card1 h1{
    font-size: 9vw;
    letter-spacing: 2px;
    line-height: 18vh;
    font-weight: 900;
}

.page1 .card2 p{
    text-align: start;
    font-size: 1vw;
    padding-left: 50%;
}



/* shop products pages */
.page2{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-around;
    opacity: 0;
    font-family:'Helvetica', sans-serif;
    
}


.page2 .card1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}


.page2 img{
    height: 500px;
    width: 100%;

}




/* product page3 */
.page3{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content:space-evenly;
    border-bottom: none;
    opacity: 0;
    
}


.page3 .card1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
.page3 .card3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.page3 img{
    height: 500px;
    width: 100%;

}

/* product name */
h5{
  font-family: 'Helvetica', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
}

/* product price */
h6{
  font-family: 'Helvetica', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
}



/* product page4 */
.page4{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content:space-evenly;
    border-top: none;
    opacity: 0;
    
}


.page4 .card1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}


.page4 img{
    height: 500px;
    width: 100%;

}



/* footer pages */

.page5.endpage h1{
    font-size: 5vh;
  }
  
  .page5 i{
    font-size: 4vh;
    font-weight: 100;
  }
  
  
  
  
  
  /* page6  */
  
  .page6{
    min-height: 20vh;
    width: 100%;
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    padding: 0px 40px;
    padding-top: 30vh;
    padding-bottom: 5vh;
    position: relative;
    z-index: 99;
  }
  
  .page6 .card1 li{
    list-style-type: none;
    padding: 2px;
    font-size: 20px;
    font-weight: 100;
  }
  
  .page6 .card1 li:hover{
    color: #6c6868;
  }
  
  .page6 h3{
    margin-bottom: 20px;
    color: gray;
  }
  
  
  
  .page6 .card2 li{
    list-style-type: none;
    padding: 2px;
    font-size: 20px;
    font-weight: 100;
    text-align: end;
  }
  
  .page6 .card2 li:hover{
    color: #6c6868;
  }
  
  
  .page6 svg{
    height: 27vh;
    width: 100%;
    opacity: 0;
  }
  
  .page6-part2{
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 99;
  }
  
  .page6-part2 h3{
    font-weight: 100;
    color: gray;
  
  }
  
  .page6-part2 h4{
    text-align: center;
    padding: 70px;
    font-size: 20px;
    font-weight: 100;
  }
  
  .page6-part2 .GRAYSCALE{ 
    color: #8d8888;
    font-size: 15px;
  }





/* mobile responsive styling using media query */
@media (max-width:600px) {
    
  .page1{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    padding-top: 100px;

  }

  .page1 .card1{
    height: 100%;
    width: 100%;
  }

  

  .page1 .card2{
    height: 100%;
    width: 100%;
    padding-top: 20px;
  }



  .page1 .card1 h1{
    font-size: 14vw;
    letter-spacing: 0.5vw;
    line-height: 15vw;
    font-weight: 900;
  }

  .page1 .card2 p{
    text-align: start;
    font-size: 5vw;
    padding-left: 1%;
  }


  /* product page2*/
    .page2{
      min-height: 50vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content:space-around;
      flex-direction: row;
      opacity: 1;
      /* background-color: red; */
      padding: 0px;
      
  }


  .page2 .card1{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      padding-bottom: 100px;

  }
  .page2 .card2{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

  }

  .page2 img{
      height: 200px;
      width: 100%;

  }


/* page3   */
  .page3{
      min-height: 50vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content:space-around;
      flex-direction: row;
      opacity: 1;
      padding: 0px;

    
  }


  .page3 .card1{
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  

}

.page3 .card1 img{
    height: 150px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    object-fit: cover;

}

.page3 .card1 h5{
  /* color: red; */
  font-size: 2vw;
  text-align: center;
  width: 60%;
  text-transform: capitalize;
}


  .page4{
    min-height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-around;
    flex-direction: row;
    opacity: 1;
    padding-bottom: 20px;

  
}


.page4 .card1{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}

.page4 .card1 img{
  height: 150px;
  width: 100%;
  padding: 0px;
  margin: 0px;
  object-fit: cover;

}

.page4 .card1 h5{
  /* color: red; */
  font-size: 2vw;
  text-align: center;
  width: 60%;
  text-transform: capitalize;
}

.page5 h1{
  font-size: 3vw;
}




  /* page6 */
  .page6{
    min-height: 20vh;
    width: 100%;
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    padding: 0px 50px;
    padding-top: 30vh;
    padding-bottom: 5vh;
    position: relative;
    z-index: 99;
  }
  
  .page6 .card1 li{
    list-style-type: none;
    padding: 2px;
    font-size: 20px;
    font-weight: 100;
    margin-left: 0px;
  }
  
  .page6 .card1 li:hover{
    color: #6c6868;
  }
  
  .page6 h3{
    text-align: center;
  }
  
  .page6 svg{
    height: 10vh;
    width: 100%;
    opacity: 1;
  }

  
  .page6-part2 h4{
    font-size: 4vw;
  }

    
  }
  
