<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            padding: 0;
            margin: 0;
        }
        html,body{
            height: 100%;
            width: 100%;
        }

        .navbar1{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5px  20px;
        }

        .navbar1 .card2{
            display: flex;
            align-items: center;
            flex-direction: column;



        }


        .navbar2{
            display: flex;
            align-items: center;
            justify-content:space-between;
            padding: 10px 100px;

        }

        .navbar2 .card1{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;


        }

        .navbar2 .card1 h1{
            font-size: 20px;
            font-weight: 500;
        }


        .navbar2 .card2{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 50px;
        }

        .navbar2 .card2 a{
            text-decoration: none;
            font-size: 1vw;
            color: #111;
        }

        .navbar2 .card2 a:hover{
            border-bottom: 2px solid green;
            color: gray;
        }


        
    </style>
</head>

<body>
    <header>
        <!-- <nav class="navbar1">
            <div class="card">
                <h1>Dane</h1>
                <h2>Surface Technology Pvt Ltd</h2>
            </div>
            <div class="card2">
                <a href="#">contact:+9109168619801</a>
                <a href="#">Enquiry:k.dane@danesurface.com</a>
            </div>

        </nav> -->
        <div class="navbar2">
            <div class="card1">
                <img src="http://www.danesurface.com/images/new%20logo.jpeg" height="75px" alt="">
                <!-- <h1>Dane Surface Technology Pvt Ltd</h1> -->
                <h1>Metallic Bonding</h1>
            </div>
            <div class="card2">
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Product</a>
                <a href="#">R & D</a>
                <a href="#">Enquiry</a>
                <a href="#">Contact Us</a>
            </div>

        </div>
    </header>