<%- include('../views/header/header') %>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <div class="page2">
    <h1>DANE SURFACE </h1>
    <h1>TECHNOLOGY PVT. LTD.</h1>
  </div>
  <div class="page">
    <div class="card">
      <img src="http://www.danesurface.com/images/Dane_Symbolic.jpeg" alt="">
    </div>
    <div class="card2">
      <h1>Welcome to DANE SURFACE TECHNOLOGY PVT. LTD.</h1>
      <p>Dane Surface Technology, established in 2012 at Aurangabad , Maharashtra ,India. Manufacturers GMF products to
        support global Electroplating & Metal Finishing Activities. In a short Span of 10 Years , we have established
        our self as a Reliable , Competitive Supplier of GMF products across India through our inhouse developed
        Environment Friendly products. To meet diverse demands of decorative & functional performance of various
        Electroplated components, we specialize in offering Tailor made products in short time. Application & Servicing
        of our product range is done our Team , that has more than 15 years of Relevant Experience in GMF field.
        “Environment Protected Today delivers better Living Conditions for Next Generations”. Our products symbolize our
        concern towards Environment by ensuring that they meet required Global standards of Environment Regulations.
        Environmental-Friendly, Small yet Trustworthy Enterprises.</p>
    </div>
  </div>
  <div class="page3">
    <h1>About Us</h1>
    <div class="cards">
    <div class="card2">
      <p>Dane Surface Technology Pvt.Ltd. was established in 2010 and we are manufacturing Electroplating and Surface finishig products.</p>
      <br>
      <p>The company is promoted by Young & Dynamic Entrepreneur Director- Mr. K.R.Dane, He has vast experience more than 17 Years of in electroplating and surface finishing chemicals.
        We are working in 78 plus districts of the country and are providing excellent service to our customers. In Electroplating Type, We make excellent world class products like...
        <strong>Acid Zinc, Alkaline Zinc, Alkaline Zinc Iron, Zinc Nickel, Electroless Nickel, Acid Tin, Acid Copper, Bright and dull Nickel, Industrial & Jewellery Silver Brightner, Cold & Hot Cleaners, Anodic Cleaners etc...</strong></p>
        <br>
        <p>Our company has a production plant in an area of 40000 sq ft. We have all the latest tools required for the production process. The advance instrument available in testing Labrotary required for raw materials,production as well as finished Products.</p>
        <br>
        <p>Dane Surface Technology working towords the commitment to deliver quality products in time to the best satisfaction of every customer. Also, company is always on the lookout for future environmental changes and changes suggested by OEM's.</p>
    </div>
    <div class="card">
      <img src="http://www.danesurface.com/images/Mr%20Dane%20K.R.jpeg" alt="">
      <h4>Mr Dane K.R (Director)</h4>
    </div>
  </div>

  </div>
  <%- include('../views/footer/footer') %>