/* universul seleter  */
* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #b3afafd9;
    box-sizing:content-box;
}

*::selection{
    background-color: #fff;
    color:rgb(154, 188, 32);
}


html,body {
    height: 100%;
    width: 100%;
}


body::-webkit-scrollbar{
    display: block;
    width: 5px;
    background-color:#111;
    
}

body::-webkit-scrollbar-thumb{
    background-color: rgb(160, 128, 21);
    border-radius: 50px;
}

body{
    overflow-x: hidden;
}

/* navbar 1 styling*/


nav{
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 999;
}

nav .navbarname{
    display: flex;
    align-items: center;
    gap:3vw;
    margin-left: 400px;

}

nav .navbarname a{
    text-decoration: none;
    font-size: 1vw;
    
}

/* navbar hover effet styling */
nav .navbarname a:hover,
nav a.active{
    border-bottom: 3px solid rgb(160, 128, 21);
}


nav .logo span{
    color: rgb(160, 128, 21);
}


.menu{
    opacity: 0;
}



.menu i{
    font-size: 1.5vw;
    color: rgb(160, 128, 21);

}




.manubar2{
    height: 98vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content:end;
    background-color: rgb(25, 25, 25);
    opacity: 0;
    position: absolute;
    z-index: 555;
    
}

.manubar2 a{
    text-decoration: none;
    font-size: 3vw;
    margin-right: 20px;

}



.manubar2 a:hover{
    border-bottom: 4px solid rgb(160, 128, 21);
}




/* home page background video set */
video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}



/* mouse cursuil styling */
.cursul{
    height: 15px;
    width: 15px;
    background-color:  rgb(160, 128, 21);
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%,-50%);
    transition: all ease 0.1s;
}

#home{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


/* home page 1 styling */

#home .card{
    margin-left: 150px;
}

/* home page img styling */
#home  .card img {
    height: 600px;
    width: 100%;
    object-fit: cover;
    background-color: rgba(10, 34, 39, 0.451);
    border-radius: 100px 300px;
    
}


#home  .card img:hover{
    border-radius: 200px 100px;
}



/* home page card 2 page style */
#home  .card2 {
    font-size: 3vw;
    line-height: 6vh;
}

#home  .hello {
    font-size: 1.5vw;
    
}

#home  .name {
    color:rgb(160, 128, 21);
    
}


#home  .titletag{
    margin-top: 17px;
    font-size: 1.5vh;
    width: 64%;
    line-height: 17px;
    margin-left: 5px;
}


#home  a {
    background-color: rgb(160, 128, 21);
    color: #111;
    padding: 10px 40px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    
}


/* about me page 2 styling */

#About{
    min-height: 100vh;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    opacity: 0;
}

#About{
    background-color: #111;
}

.main{
    background-color: #111111d1;
}



#About .card2{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}

#About .card2 img {
    height: 400px;
    background-color: rgba(10, 34, 39, 0.451);
    border-radius: 50px 50px;
}


#About .card2 .box{
    width: 60%;

}


#About .card2 .about-me{
    margin-bottom: 10px;
    font-size: 2.5vw;
    font-weight: 700;
    color: rgb(160, 128, 21);
    mix-blend-mode: difference;
}

#About .card2 p{
    width: 80%;
    text-align: justify;
    line-height: 1.5vw;
    font-size: 1vw;
    font-weight: 400;
    mix-blend-mode: difference;
    

}


/* skills section style*/
#About .card3 {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 100px;
    margin-top: 30px;
    mix-blend-mode: difference;
}

#About .card3 h1{
    font-size: 1.5vw;
    mix-blend-mode: difference;
}

#About .card4 {
    height: 18vh;
    width: 27%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    position: absolute;
    line-height: 2.5vw;
    border: 1px solid rgb(160, 128, 21);
    padding: 10px 20px;
    border-radius: 5px;
    mix-blend-mode: difference;
}


#About .skill2 img{
    height: 15px;
    mix-blend-mode: difference;
}


/* Experience section */
#About .card5{
    height: 20vh;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    opacity: 0;
    padding: 3px 100px 30px 10px;
    margin-top: 20px;
    
}

#About .card5 .exp1{
    height: 15vh;
    width: 100%;
    text-align: start;
    border: 1px solid rgb(160, 128, 21);
    padding: 20px 20px;
    border-radius: 5px;
    margin-top: 20px;
    line-height: 3vh;
    
}

#About .card5 .exp2{
    height: 15vh;
    width: 100%;
    text-align: start;
    line-height: 3vh;
    border: 1px solid rgb(160, 128, 21);
    padding: 20px 20px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 20px;

}


#About .card5 h1{
    font-size: 1.5vw;
    font-weight: 900;
    color: rgb(160, 128, 21);
}

#About .card5 h2{
    font-size: 1vw;
    letter-spacing: 1px;
    font-weight: 400;
}

/* education section */
#About .card6{
    display: flex;
    margin-top: 20px;
    opacity: 0;
    margin-top: 20px;

}

#About .card6 .edu1{
    border: 1px solid rgb(160, 128, 21);
    padding: 20px 20px;
    border-radius: 5px;
    margin-top: 10px;
}

#About .card6 .edu2{
    border: 1px solid rgb(160, 128, 21);
    padding: 20px 20px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 20px;

}

#About .card6 h1{
    font-size: 1.5vw;
    font-weight: 900;
    color: rgb(160, 128, 21);
}

#About .card6 h2{
    font-size: 1vw;
    letter-spacing: 1px;
    font-weight: 400;
}


#About i,img{
    color:rgb(160, 128, 21);
    font-size: 20px;

}


/* project page 3 styling*/

.page3{
    min-height: 100vh;
    background-color:#111;
}
.page3 h1{
    padding-top: 100px;
    padding-left: 100px;
    font-size: 2.5vw;
    font-weight: 700;
    color: rgb(160, 128, 21);
    opacity: 0;
    mix-blend-mode: difference;
}

.page3 .card1{
    height: 450px;
    width: 400px;
    border-radius: 10px;
}


/* project card background img set and style */
.page3 #card1{
    background-image: url("./img/amg2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0;
}

.page3 #card2{
    background-image: url("./img/animation.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0;
}

.page3 #card3{
    background-image: url("./img/twogood2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0;
    
}


.page3 #card1:hover{
    scale: 1.03;

}

.page3 #card2:hover{
    scale: 1.03;

}
.page3 #card3:hover{
    scale: 1.03;

}


.page3 .contenar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5%;
}

.page3 .hovercard{
    background-image: linear-gradient(rgba(25, 23, 23, 0.852),rgba(47, 46, 46, 0.836));
    height: 100%;
    width: 100%;
    border-radius: 10px;
    opacity: 0;
}

.page3 .card1 .psummary1{
    border-radius: 10px;
    text-align: center;
    padding:140px 10px;
    color:aliceblue;
    font-weight: 400;
}
.page3 .card1 p{
    border-radius: 10px;
    text-align: center;
    padding:125px 10px;
    color:  aliceblue;
    font-weight: 400;
}


.page3 .hovercard .pbtns{
    margin-left: 45px;
}


.page3 .hovercard .pbtn{
    background-color:#c9c2c2;
    color: #111;
    padding: 10px 50px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin: 10px;
    
}

.page3 .hovercard:hover{
    opacity: 1;
    scale: 1.03;
}

.page3 .hovercard .pbtn:hover{
    background-color:  rgb(222, 175, 22);

}


/* more project creating animation effect part */
.page3 .more{
    margin-top: 50px;
    margin-left: 85%;
    position: absolute;
    animation-name: moreproject;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    opacity: 0;
}

.page3 .more-p{
    height: 100px;
    width: 100px;
    text-decoration: none;
    font-size: 1.2vw;
    background-color: rgb(160, 128, 21);
    border-radius: 50%;
    padding: 10px;
    color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.page3 .more-p:hover{
    background-color: rgb(208, 164, 21);
    color: #fff;

}

@keyframes moreproject {
    0%{
        left: 0;
    }
    
    100%{
        left: 100px;
    }
}



/* contact page 4 styling  */


#Contact{
    min-height: 100vh;
    width: 100%;
    background-color:#111;
    display: flex;
    align-items: center;
    justify-content: space-around;

}


#Contact .cot1{
    margin: 10px;
    height: 500px;
}

#Contact .cot1 h1{
    text-transform: capitalize;
    font-size: 2.5vw;
    font-weight: 700;
    color: rgb(160, 128, 21);
    mix-blend-mode: difference;
    /* background-color: red; */
}

#Contact .cot1 .contact{
    height: 100px;
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
}

#Contact .cot1 .contact i{
   margin: 10px;
   mix-blend-mode: difference;
}

#Contact .cot1 .contact a{
    padding: 5px 20px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 0.7vw;
    mix-blend-mode: difference;
}

#Contact .cot1 .socialmedia i{
    padding: 10px 20px;
    margin-left: 20px;
    font-size: 2vw;
    mix-blend-mode: difference;
    margin-top: 10px;
}

#Contact .cot1 .downloadbtn{
    margin-top: 50px;
    margin-left: 40px;
    border: none;
    border-radius: 10px;
    padding: 20px 50px;
    color: black;
    background-color: rgb(160, 128, 21);
    mix-blend-mode: difference;
}


#Contact .cot2 {
    margin: 10px;
    height: 500px;
    width: 40%;
}





#Contact .cot2 .cotect-form{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    margin: 10px;
    
}

#Contact .cot2 .name-email{
    width: 90%;
    height: 50px;
    border: none;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: #494747;
    
}

#Contact .cot2 #email{
    width: 90%;
    border: none;
    border-radius: 5px;
    background-color: #494747;
}



#Contact .cot2 .message{
    width: 90%;
    height: 200px;
    border: none;
    border-radius: 5px;
    background-color: #494747;

    
}

#Contact .cot2 .btn{
    border: none;
    padding: 20px 100px;
    border-radius: 10px;
    margin-top: 30px;
    background-color: rgb(160, 128, 21);
    color: #111;
    font-size: 15px;
    font-weight: 800;
    mix-blend-mode: difference;
}


#Contact .socialmedia i:hover{
    color:rgb(160, 128, 21);
}




/* fotter style */
footer{
    height: 40px;
    width: 100%;
    background-color: #111;
    text-align: center;
}

footer a{
    text-decoration: none;
}




/* responsive website for mobile users */

@media (max-width:600px) {

    /* navbar setup */

    nav{
        height: 70px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: fixed;
        z-index: 999;
    }
    
    nav .navbarname{
        display: flex;
        align-items: center;
        gap:3vw;
        margin-left: -10px;
    }
    
    nav .navbarname a{
        display: none;
        
    }
    
    /* navbar hover effet styling */
    nav .navbarname a:hover,
    nav a.active{
        border-bottom: 3px solid rgb(160, 128, 21);
    }


    nav .logo{
        font-size: 3vw;
    }
    
    
    nav .logo span{
        color: rgb(160, 128, 21);
    }
    
    
    
    .menu i{
        font-size: 5vw;
        color: rgb(160, 128, 21);
    }

    .nav .menu {
        opacity: 1;
        margin-right: -200px
    }

    
    .menu .fa-xmark{
        opacity: 0;
    }


    /* menubar 2 */
   
    .manubar2 {
        height: 88vh;
    }
    .manubar2 a{
        text-decoration: none;
        font-size: 8vh;
        margin-right: 20px;
    
    }


    
    /* home page set up */
    #home{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }

    #home .card{
        margin-left: -10px;
        margin-top: 6vh;

    } 

    #home .card img {
        height: 250px;
        border-radius: 100px 100px;
    }

    #home .card2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #home .card2 .hello{
        font-size: 2.5vw;
        
    }

    #home .card2 span{
        font-size: 2.5vw;
    }

    #home .card2 .name{
        font-size: 4vw;
        font-weight: 700;
        margin-top: -12px;

    }

    #home .card2 .job{
        font-size: 5.5vw;
        font-weight: 700;
        margin-top: -12px;
    }


    #home .card2 .titletag{
        font-size: 1.5vh;
        line-height: 14px;
        margin-bottom: 20px;
        text-align: center;
        margin-top: -1px;
        
    }

    #home .card2 a{
        font-size: 3vw;
        margin: 5px;
    }




    /* about me page 2 setup*/

    #About .card2{
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-evenly;
        padding-top: 50px;
    }

    #About .card2 img{
        height: 30vw;
        background-color: rgba(10, 34, 39, 0.451);
        border-radius: 50px 50px;
        /* margin-top: 100px; */
    }


    #About .card2 .box{
        width: 100%;
    }
   
    
    
    #About .card2 .about-me{
        font-size: 4vw;
        margin-top: 20px;
    }

    #About .card2 .box p{
        width: 90%;
        font-size: 3vw;
        line-height: 3.5vw;
        padding: 0 20px;
        text-align: center;
        font-weight: 400;

    }


    #About .card3 {
        width: 100%;
        gap: 18vw;
        margin-top: 20px;
        margin-bottom: -10px;
        font-weight: 400;
        mix-blend-mode: difference;
    }
    
    #About .card3 h1{
        font-size: 4vw;
        mix-blend-mode: difference;
        margin-left: 20px;
        margin-right: -10px;
    }



    #About .card4 {
        height: 15vh;
        width: 78vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        line-height: 4vh;
        text-align: start;
        margin-left: 4vw;
        
    }


    #About .card4 h3{
        font-size: 3vw;
        font-weight: 400;
    }

    #About .card4 i{
        font-size: 3.5vw;
        
    }

    /* exprience section */
    #About .card5{
        height: 35vh;
        width: 75%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        
        
    }
    
    #About .card5 .exp1{
        height: 10vh;
        text-align: center;
        margin-top: 20px;
        margin-left: 70px;
        padding-top: 10px;
    }
    
    #About .card5 .exp2{
        height: 10vh;
        text-align:center;
        line-height: 3vh;
        margin-left: 70px;
        padding-top: 10px;
    
    }
    
    
    #About .card5 h1{
        font-size: 4vw;
    }
    
    #About .card5 h2{
        font-size: 3vw;
        letter-spacing: 1px;
        font-weight: 400;
    }


    /* edgacation section */

    #About .card6{
        width: 90%;
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }
    
    #About .card6 h1{
        font-size: 4vw;
    }

    #About .card6 h2{
        font-size: 3vw;
    }

    #About .card6 .edu2{
        margin-left: -1.5px;
    }

    /* project section */
    .page3 h1{
        font-size: 5vw;
        padding-bottom: 50px;
    }
    
    .page3 .contenar{
        display: flex;
        flex-direction: column;

    }

    .page3 .card1{
        height: 75vw;
        width: 73vw;
        margin-bottom: 35px;
    } 


    .page3 .hovercard{
        height: 75vw;
        width: 73vw;
        border-radius: 10px;
    }
    
    .page3 #card1{
      background-size: 100% 100%;
    }
    
    .page3 #card2{
      background-size: 100% 100%;

    }
    .page3 #card3{
      background-size: 100% 100%;
    }

    .page3 .card1 .psummary1{
        border-radius: 10px;
        text-align: center;
        padding:22vw 4vw;
        color: #fff;
        font-weight: 400;
        font-size: 3vw;
    }
    .page3 .card1 p{
        font-size: 3vw;
        padding:19vw 4vw;
    }

    .page3 .hovercard .pbtns{
        margin-left: 15vw;
    }
    
    
    .page3 .hovercard .pbtn{
        padding: 3vw 5vw;
        font-size: 3vw;
        
    }

    
    .page3 .hovercard:hover{
        opacity: 1;
        scale: 1.03;
    }

    /* animation move */
    .page3 .more{
        margin-top: 50px;
        margin-left: 45%;
    }
    
    .page3 .more-p{
        height: 50px;
        width: 50px;
    }


    /* contact page  4 setup*/
    #Contact{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    
    }
    
    
    #Contact .cot1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
        margin-left: -5vw;
        /* background-color: red; */
       
    }
    
    #Contact .cot1 h1{
        text-transform: capitalize;
        font-size: 5vw;
        font-weight: 700;
    }
    
    #Contact .cot1 .contact{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    #Contact .cot1 .contact a{
        padding: 0px 10px;
        font-size: 3vw;
        font-weight: 400;
    }
    
    #Contact .cot1 .socialmedia i{
        font-size: 4.5vw;
        margin-top: 10px;
        margin-left: -1px;
    }
    
    #Contact .cot1 .downloadbtn{
        margin-top: 34px;
        margin-left: 4px;
        padding: 3vw 5vw;
    }
    
    /* email section */


    #Contact .cot2 {
        height: 500px;
        width: 70vw;
       
    }
    
    #Contact .cot2 .name-email{
        width: 65vw;
        
    }
    
    #Contact .cot2 #email{
        width: 65vw;
    }
    
    
    
    #Contact .cot2 .message{
        width: 65vw;
        height: 25vh;
        
    }
    
    #Contact .cot2 .btn{
        padding: 3vw 10vw;
    }
    

    footer{
        height: 40px;
        width: 100%;
        background-color: #111;
        text-align: center;
    }

    footer a{
        text-decoration: none;
    }

    nav .logo{
        margin-left: -50px;
    }


}







