* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #b3afafd9;
}


html,body {
    height: 100%;
    width: 100%;
}

/* navbar styling*/
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
    position:fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    
    
}

nav .navbarname {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    background-color: none;
    text-transform: capitalize;
    margin-right: 250px;
    
   
}

nav .navbarname a{
    font-size: 20px;
    text-decoration: none;
    
}

nav .navbarname a:hover,
nav a.active{
    border-bottom: 3px solid rgb(160, 128, 21);

}


.menu{
    opacity: 0;
    font-size: 25px;
}

.menu .fa-solid{
    color: rgb(160, 128, 21);
}

nav .logo span{
    color: rgb(160, 128, 21);
}

.manubar2{
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content:end;
    background-color: rgb(25, 25, 25);
    opacity: 0;
    position: absolute;
    
}

.manubar2 a{
    text-decoration: none;
    font-size: 3vw;
    margin-right: 20px;

}

nav .fa-xmark{
    opacity: 0;
    margin-left: -10px;
}

.manubar2 a:hover{
    border-bottom: 4px solid rgb(160, 128, 21);
}




/* home page background video  */
video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

/* mouse culsul */
.cursul{
    height: 15px;
    width: 15px;
    background-color:  rgb(160, 128, 21);
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%,-50%);
    transition: all ease 0.1s;
    /* z-index: 10; */
}



/* home page styling */
.contaner {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #111111d1;

    
   
}

/* home page img styling */
.contaner .card img {
    height: 600px;
    width: 100%;
    object-fit: cover;
    background-color: rgba(10, 34, 39, 0.451);
    border-radius: 100px 300px;
    
}

.contaner .card img:hover{
    border-radius: 200px 100px;

}


.contaner .card2 {
    font-size: 3vw;
    margin-left: -500px;
    line-height: 6vh;
}

.contaner .hello {
    font-size: 1.5vw;
    
}

.contaner .name {
    color:rgb(160, 128, 21);
    
}


.contaner a {
    background-color: rgb(160, 128, 21);
    color: #111;
    padding: 10px 40px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    /* mix-blend-mode: difference; */
   
    
}


/* about me page2 styling */

#About{
    opacity: 1;
    background-color:  #111111d1;
}


.page2 {
    min-height: 100vh;
    background-color:#111;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 100px;
    opacity: 0;
    
}

.page2 .card img {
    height: 400px;
    background-color: rgba(10, 34, 39, 0.451);
    border-radius: 50px 50px;
}


.page2 .card2 .about-me{
    margin-bottom: 10px;
    font-size: 2.5vw;
    font-weight: 700;
    color: rgb(160, 128, 21);
    mix-blend-mode: difference;
}

.page2 .card2 p{
    text-align: justify;
    line-height: 25px;
    font-size: 1vw;
    font-weight: 400;
    mix-blend-mode: difference;
    

}

.page2 .card2 {
    padding: 100px;
}

/* skills */
.page2 .card3 {
    display: flex;
    gap: 100px;
    padding-top: 30px;
    mix-blend-mode: difference;
}

.page2 .card3 h1{
    font-size: 1.5vw;
    mix-blend-mode: difference;
}

.page2 .card4 {
    display: flex;
    margin-top: 20px;
    position: absolute;
    line-height: 30px;
    border: 1px solid rgb(160, 128, 21);
    padding: 10px 20px 30px 10px;
    border-radius: 5px;
}

.page2 .skill1 {
    mix-blend-mode: difference;
    
}

.page2 .skill2 {
    margin-left: 90px;
    mix-blend-mode: difference;
    
}

.page2 .skill3{
    margin-left: 130px;
    mix-blend-mode: difference;

}


.page2 .skill2 img{
    height: 15px;
    mix-blend-mode: difference;
}


/* Experience section */
.page2 .card5{
    display: flex;
    position: absolute;
    opacity: 0;
    padding: 3px 100px 30px 10px;
}

.page2 .card5 .exp1{
    border: 1px solid rgb(160, 128, 21);
    padding: 20px 20px;
    border-radius: 5px;
    margin-top: 20px;
}

.page2 .card5 .exp2{
    border: 1px solid rgb(160, 128, 21);
    padding: 20px 20px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 20px;

}


.page2 .card5 h1{
    font-size: 1.5vw;
    font-weight: 900;
    color: rgb(160, 128, 21);
}

.page2 .card5 h2{
    font-size: 1vw;
    letter-spacing: 1px;
    font-weight: 400;
}

/* education section */
.page2 .card6{
    display: flex;
    margin-top: 20px;
    opacity: 0;

}

.page2 .card6 .edu1{
    border: 1px solid rgb(160, 128, 21);
    padding: 20px 20px;
    border-radius: 5px;
    margin-top: 10px;
}

.page2 .card6 .edu2{
    border: 1px solid rgb(160, 128, 21);
    padding: 20px 20px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 20px;

}

.page2 .card6 h1{
    font-size: 1.5vw;
    font-weight: 900;
    color: rgb(160, 128, 21);
}

.page2 .card6 h2{
    font-size: 1vw;
    letter-spacing: 1px;
    font-weight: 400;
}


.page2 i,img{
    color:rgb(160, 128, 21);
    font-size: 20px;

}


/* project page styling*/

.page3{
    min-height: 100vh;
    background-color:#111;
}
.page3 h1{
    padding-top: 100px;
    padding-left: 100px;
    font-size: 2.5vw;
    font-weight: 700;
    color: rgb(160, 128, 21);
    opacity: 0;
    mix-blend-mode: difference;
}

.page3 .card1{
    height: 450px;
    width: 400px;
    border: 2px solid rgb(160, 128, 21);
    border-radius: 10px;
}

.page3 #card1{
    background-image: url("https://images.unsplash.com/photo-1667239711059-9e5d970eb007?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGFtYXpvbmUlMjBwYWdlfGVufDB8fDB8fHwwD");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
}

.page3 #card2{
    background-image: url("https://images.unsplash.com/photo-1500375592092-40eb2168fd21?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGFuaW1hdGVkJTIwd2Vic2l0ZXxlbnwwfHwwfHx8MA%3D%3D");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
}
.page3 #card3{
    background-image: url("https://images.unsplash.com/photo-1500462918059-b1a0cb512f1d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8YW5pbWF0ZWQlMjB3ZWJzaXRlfGVufDB8fDB8fHww");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
}

.page3 #card1:hover{
    scale: 1.03;

}

.page3 #card2:hover{
    scale: 1.03;

}
.page3 #card3:hover{
    scale: 1.03;

}


.page3 .contenar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5%;
}

.page3 .hovercard{
    background-image: linear-gradient(rgba(25, 23, 23, 0.588),rgba(47, 46, 46, 0.807));
    height: 100%;
    width: 100%;
    border-radius: 10px;
    opacity: 0;
}

.page3 .card1 p{
    border-radius: 10px;
    text-align: center;
    padding:160px 10px;
    color: #fff;
}


.page3 .hovercard .pbtns{
    margin-left: 45px;
}



.page3 .hovercard .pbtn{
    background-color:#c9c2c2;
    color: #111;
    padding: 10px 50px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin: 10px;
    
}

.page3 .hovercard:hover{
    opacity: 1;
    scale: 1.03;
}





/* animation part */
.page3 .more{
    margin-top: 50px;
    margin-left: 85%;
    position: absolute;
    animation-name: moreproject;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    opacity: 0;
}

.page3 .more-p{
    height: 100px;
    width: 100px;
    text-decoration: none;
    font-size: 1.2vw;
    background-color: rgb(160, 128, 21);
    border-radius: 50%;
    padding: 10px;
    color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.page3 .more-p:hover{
    background-color: rgb(208, 164, 21);
    color: #fff;

}

@keyframes moreproject {
    0%{
        left: 0;
    }
    
    100%{
        left: 100px;
    }
}



/* contact page styling  */


.page4{
    min-height: 100vh;
    background-color:#111;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 170px;

}


.page4 .cot1{
    margin: 10px;
    height: 500px;
    width: 50%;

    /* background-color: blue; */

}

.page4 .cot1 h1{
    text-transform: capitalize;
    font-size: 2.5vw;
    font-weight: 700;
    color: rgb(160, 128, 21);
    mix-blend-mode: difference;
}

.page4 .cot1 .contact{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    /* margin-top: 30px; */
}

.page4 .cot1 .contact i{
   margin: 20px;
   mix-blend-mode: difference;
}

.page4 .cot1 .contact a{
    padding: 5px 20px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 0.7vw;
    mix-blend-mode: difference;
}

.page4 .cot1 .socialmedia i{
    padding: 10px 20px;
    margin-left: 20px;
    font-size: 2vw;
    mix-blend-mode: difference;
}

.page4 .cot1 .downloadbtn{
    margin-top: 50px;
    margin-left: 40px;
    border: none;
    border-radius: 10px;
    padding: 20px 50px;
    color: black;
    background-color: rgb(160, 128, 21);
    mix-blend-mode: difference;
}



.page4 .cot2{
    height: 500px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px;
    padding-right: 100px;
    mix-blend-mode: difference;
    
}

.page4 .cot2 .name-email{
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #494747;
    
}

.page4 .cot2 #email{
    width: 100%;
    border: none;
    border-radius: 5px;
    margin-top: -45px; 
    background-color: #494747;
}



.page4 .cot2 .message{
    width: 100%;
    height: 200px;
    border: none;
    border-radius: 5px;
    margin-top: -45px;
    background-color: #494747;

    
}

.page4 .cot2 .btn{
    border: none;
    padding: 20px 100px;
    margin-left: -450px;
    border-radius: 10px;
    background-color: rgb(160, 128, 21);
    color: #111;
    font-size: 15px;
    font-weight: 800;
}


footer{
    height: 40px;
    width: 100%;
    background-color: #111;
    text-align: center;
}

footer a{
    text-decoration: none;
}




/* responsive webtion for mobile users */

@media (max-width:600px) {

    .nav a{
        display: none;
    }


    nav .navbarname {
        margin-right: 160px;
    }

    .menu{
        opacity: 1;
    }
    
    .manubar2 a{
        font-size: 11vw;
        line-height: 15vw;
    
    }

    
    .contaner{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }

    .contaner .card img {
        height: 250px;
        border-radius: 100px 100px;
        /* margin-top: -100px;
        margin-left: -35px; */
    }

    .contaner .card2 {
        margin-top: 20px;
        font-size: 5vw;
        margin-left: 2%;
        line-height: 5vh;
        text-align: center;
    }

    .contaner .card2 .hello{
        font-size: 2.5vw;
        
    }

    .contaner .card2 span{
        font-size: 2.5vw;
    }

    .contaner .card2 .name{
        font-size: 4vw;
        font-weight: 700;

    }

    .contaner .card2 .job{
        font-size: 5.5vw;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .contaner .card2 a{
        font-size: 3vw;
    }




    /* page2 */

    .page2{
        display: flex;
        flex-direction: column;
    }
    .page2 .card img {
        height: 100px;
        background-color: rgba(10, 34, 39, 0.451);
        border-radius: 50px 50px;
    }

    .page2 .card2{
        text-align: center;
        margin-top: -100px;
    }
    
    
    .page2 .card2 .about-me{
        font-size: 4vw;
    }

    .page2 .card2 p{
        font-size: 2.5vw;
        line-height: 3.5vw;
        padding: 0 10px;

    }


    .page2 .card3 h1{
        font-size: 3vw;

    }

    .page2 .card4{
        width: 62%;
        margin-left: 10px;

    }

    .page2 .skill1{
        text-align:start;

    }
    
    .page2 .skill2 {
        margin-left: 55px;
        text-align:start;
        
    }
    
    .page2 .skill3{
        margin-left: 80px;
        text-align:start;
    
    }

    .page2 .card4 h3{
        font-size: 2vw;
    }

    .page2 .card4 i{
        font-size: 2.5vw;
        
    }

    /* exprience section */
    .page2 .card5{
        width: 65vw;
        display: flex;
        flex-direction: column;
        margin-left: 10px;
    }
    
    .page2 .card5 h1{
        font-size: 4vw;
    }

    .page2 .card5 h2{
        font-size: 3vw;
    }

    .page2 .card5 .exp2{
        margin-left: -1.5px;
    }

    /* edgacation section */

    .page2 .card6{
        width: 90%;
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }
    
    .page2 .card6 h1{
        font-size: 4vw;
    }

    .page2 .card6 h2{
        font-size: 3vw;
    }

    .page2 .card6 .edu2{
        margin-left: -1.5px;
    }

    /* project section */
    .page3 h1{
        font-size: 5vw;
        padding-bottom: 50px;
    }
    
    .page3 .contenar{
        display: flex;
        flex-direction: column;

    }

    .page3 .card1{
        height: 320px;
        width: 300px;
        margin-bottom: 35px;
    }


    .page3 .hovercard{
        height: 320px;
        width: 300px;
        border-radius: 10px;
    }
    
    .page3 .card1 p{
        text-align: center;
        padding:90px 20px;
    }
    
    
    
    .page3 .hovercard .pbtn{
        padding: 10px 25px;
        
    }
    
    .page3 .hovercard:hover{
        opacity: 1;
        scale: 1.03;
    }

    /* animation move */
    .page3 .more{
        margin-top: 50px;
        margin-left: 60%;
    }
    
    .page3 .more-p{
        height: 50px;
        width: 50px;
    }


    /* contact page */
    .page4{
        display: flex;
        flex-direction: column;
    }

    .page4 h1{
        padding-top: 200px;
    }

    .page4 .cot1 h1{
        width: 200px;
        margin-left: -40px;
        font-size: 5vw;
    } 


    .page4 .contact{
        height: 100px;
        width: 250px;
        margin-left: -120px;
    }

    .page4 .cot1 .contact{
        text-align: center;
        /* background-color: red; */
    }

    .page4 .cot1 .contact i{
        font-size: 2.5vw;
    }

    .page4 .cot1 .contact a{
        font-size: 3vw;
    }

    .page4 .cot1 .contact #nus{
        margin-left: 40px;
    }

    .page4 .cot1 .socialmedia{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-left: -15px;
    }

    .page4 .cot1 .socialmedia i{
        font-size: 5vw;
        
    }


    .page4 .cot1 .downloadbtn{
        margin-left: -35px; 
        font-size: 2vw;
        padding: 15px 50px;
    }


    .page4 .cot2 {
        text-align: center;
    }


    .page4 .cot2 .name-email{
        width: 300px;
        margin-left: 80px;
    }

    .page4 .cot2 #email{
        width: 300px;
        margin-left: 80px;
    }

    .page4 .cot2 .message{
        width: 300px;
        height: 160px;
        margin-left: 80px;
    }


    .page4 .cot2 .btn{
        margin-top: -40px;
        padding: 15px 50px;
        margin-right: -386px;
        margin-bottom: 50px;
    }


    footer{
        height: 40px;
        width: 100%;
        background-color: #111;
        text-align: center;
    }

    footer a{
        text-decoration: none;
    }

    nav .logo{
        margin-left: -50px;
    }


}







