body{
    padding: 0;
    margin: 0;
}

html,body{
    height: 100%;
    width: 100%;
}


.navbar{
    height: 70px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 100px;
    font-size: 24px;
}

.navcard{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

}

#navitem{
    color: black;
    text-decoration: none;
}

#navitem:hover{
    color: blueviolet;
    transition: linear 0.5s;
    transform: scale(1.1);
    border-bottom: 1px solid blueviolet;
}